$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mobile-horizontal-padding: 1rem;
$tablet-horizontal-padding: 2.25rem;
$desktop-horizontal-padding: 7rem;

$default-color-1: #323232;
$default-color-2: #000000;
$default-color-3: #0095FF;
$default-color-1-alt: #0065AD;
$default-color-2-alt: #AFAFAF;
$default-color-3-alt: #E1E1E1;
$default-color-error: #D22D2D;