@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.credentials-form {
    &__error-text {
        color: red;
        background-color: lightcoral;
        font-size: 1rem;
    }
    &__input-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-size: 1rem;
    }
    &__input-text {
        font-size: 1rem;
        &--invalid {
            border-color: red;
        }
    }
    &__button {
        text-align: center;
        padding: 1rem;
        border: 2px rgba(0, 0, 0, 0.616) solid;
        border-radius: 1rem;
        background-color: orange;
        font-size: 1.25rem;
        color: white;
    }
}