@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    display: flex;
    padding: 2rem;
    background-color: black;
    justify-content: center;
    &__text {
        color: white;
    }
    &__image {
        height: 4rem;
        @include tablet {
            height: 5rem;
        }
    }
}