@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage {
    display: flex;
    padding: 5rem 0;
    background-color: black;
    // background: linear-gradient(rgba($color: rgb(255, 166, 0), $alpha: 1), rgba($color: rgb(245, 198, 112), $alpha: 1));
    justify-content: center;
    @include tablet {
        padding: 7rem 3rem;
        justify-content: space-between;
    }
    @include desktop {
        padding: 7rem;
    }
    &__title {
        font-size: 3rem;
        font-weight: 700;
    }
    &__main-logo {
        width: 80%;
        max-width: 25rem;
        @include tablet {
            width: 20rem;
        }
        @include desktop {
            width: 30rem;
        }
    }
    &__hero-column {
        display: none;
        @include tablet {
            display: flex;
            flex-direction: column;
            width: 70%;
        }
        
    }
    &__hero-button {
        text-align: center;
        padding: 1rem;
        border: 2px rgba(0, 0, 0, 0.616) solid;
        border-radius: 1rem;
        background-color: orange;
        font-size: 1.25rem;
        color: white;
    }
}

.games-list {
    display: flex;
    flex-direction: column;
    padding: 3rem 0.5rem;
    gap: 1rem;
    @include tablet {
        padding: 5rem  3rem;
        gap: 3rem;
    }
    @include desktop {
        padding: 5rem 7rem;
    }
    &__title {
        margin: 0;
        font-size: 1.5rem;
        text-shadow: 1px 1px 3px rgb(153, 0, 255);
        font-weight: 700;
        @include tablet {
            font-size: 2rem;
        }
    }
    &__link {
        align-self: center;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0.75rem;
        border: 2px rgba(0, 0, 0, 0.5) solid;
        border-radius: 0.5rem;
        background-color: #6fc0f9;
        color: white;
        box-shadow: 3px 3px 5px black;
        @include tablet {
            font-size: 3rem;
            padding: 1rem 3rem;
        }
    }
}